<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/left-sidebar.css') }}">

    </head>
    <body>
        <div id="wrapper" class="hide-sidebar" style="background-color:rgba(0, 60, 136, 0.5);">
            
        </div>
      
        <script ype="text/javascript" src="{{ asset('build/js/map.js') }}"></script>

    </body>
</html>